{% extends 'usedcarinfo/base.html' %}

{% block title %}
    Delete Inventory
{% endblock %}

{% block content %}
    <form
        action="{{ inventory.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            inventory {{ inventory }}?
        </p>
        <a href="{{ inventory.get_absolute_url }}"
         class="button button-primary">Cancel</a>
        <button type="submit" class="button button-primary">Delete Inventory</button>
    </form>
{% endblock %}
