{% extends 'usedcarinfo/base.html' %}

{% block title %}
    Delete Schedule
{% endblock %}

{% block content %}
    <form
        action="{{ maintenance_schedule.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            schedule {{ maintenance_schedule }}?
        </p>
        <a href="{{ maintenance_schedule.get_absolute_url }}"
        class="button button-primary">Cancel</a>
        <button type="submit" class="button button-primary">Delete Schedule</button>
    </form>
{% endblock %}
